<section>
    <div *ngIf="weatherData" class="p-2 rounded bg-secondaryBg/10 space-y-2">
        <h2 class="font-medium text-lg">DAILY FORECAST</h2>
        <div class="flex flex-col space-y-1">
            <div *ngFor="let day of weatherData; trackBy: trackDay" class="p-1 text-sm flex flex-row items-center justify-between">
                <p>{{ day?.dayFormat?.weekDay }}</p>
                <img src="/custom_icons/day/icon_{{ day?.day?.condition?.code }}.svg" alt="forcast-image" class="size-6"/>
                <p>{{ day.day.daily_chance_of_rain }}%</p>
                <p>{{ day.day.maxtemp_c }}</p>
                <p class="text-ivoryWhite/75">{{ day.day.mintemp_c }}</p>
            </div>
        </div>
    </div>
    <div *ngIf="!weatherData">
        <app-skeleton></app-skeleton>
    </div>
</section>