/* Custom shimmer effect using Tailwind CSS and keyframes */
.skeleton-wrapper {
  @apply relative overflow-hidden;
}

.skeleton-header, .skeleton-text, .skeleton-image {
  @apply bg-gray200 rounded;
}

.skeleton-wrapper::before {
  @apply absolute top-0 left-0 w-full h-full bg-gradient-to-r from-transparent via-white/40 to-transparent;
  content: "";
  z-index: 10;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}